{% extends "training/base_sidepanel.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'training-home' %}">My Trainings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'training-all_trainings' %}">All Trainings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'training-history' %}">History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'training-new_entry' %}">New Entry</a>
    </li>
</ul>
    
    {% if training_modules %}


        {% for module in training_modules %}
        <div id="accordion" class="mb-3 card {% if module.expiration_date > now %}bg-success-light{% endif %}">
            <div class="card-header d-flex justify-content-between" id="headingOne">
                <a class="text-dark" href="{% url 'training-certification-detail' module.id %}" >
                    <h5>
                        {{ module.name }}:{{ module.description }}
                        
                    </h5>
                </a>
                {% now "Y-m-d" as current_datetime %}
                {% if module.scheduled_date and current_datetime <= module.scheduled_date|date:"Y-m-d"  %}
                <a class="text-success" href="{% url 'training-schedule' module.id %}" >Scheduled: {{module.scheduled_date}}</a>
                {% else%}
                <a href="{% url 'training-schedule' module.id %}" >Schedule</a>
                {% endif %}

                
            </div>
            <div class="card-body">
                {% if module.retrain_months %}
                <p>Expiration months: {{ module.retrain_months }}</p>
                {% endif %}
               
                {% for role in module.roles.all %}
                <!-- basges -->
                <span class="badge badge-secondary">{{ role }}</span>
                {% endfor %}
                
                
            </div>
        </div>
        {% endfor %}
    <!-- if there are no training_modules yet -->
    {% else %}
        <p class="m-3">No trainings yet</p>
    {% endif %}




{% endif %}
    


{% endblock content %}