{% extends "training/base_sidepanel.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'training-home' %}">My Trainings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'tasks-assigned' %}">All Trainings</a>
    </li>
</ul>
    
    {% if certificates %}


        {% for certificate in certificates %}
        <div id="accordion" class="mb-3 card {% if certificate.status == 'Completed' %}bg-success-light{% endif %}">
            <div class="card-header d-flex justify-content-between" id="headingOne">
                <a class="text-dark" href="{% url 'training-certification-detail' certificate.id %}" >
                    <h5>
                        {{ certificate.name }}:{{ certificate.description }}
                        
                    </h5>
                </a>
                {% now "Y-m-d" as current_datetime %}
                {% if certificate.scheduled_date and current_datetime <= certificate.scheduled_date|date:"Y-m-d"  %}
                <a class="text-success" href="{% url 'training-schedule' certificate.id %}" >Scheduled: {{certificate.scheduled_date}}</a>
                {% else%}
                <a href="{% url 'training-schedule' certificate.id %}" >Schedule</a>
                {% endif %}

                
            </div>
            <div class="card-body">
                
                
                {% if certificate.get_incomplete_certification_statuses %}
                <ul>
                    {% for prof in certificate.get_incomplete_certification_statuses %}
                    <li> {{prof.profile.user.username}}:
                        <a href="{% url 'training-statusCertification-detail' prof.id %}" class="text-{% if prof.status == 'Completed' %}success{% elif prof.status == 'Scheduled' %}warning{% else %}danger{% endif %}"> {{ prof.status }} </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Everyone up to date</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    <!-- if there are no certificates yet -->
    {% else %}
        <p class="m-3">No trainings yet</p>
    {% endif %}

    


{% endif %}
    


{% endblock content %}