{% extends "blog/base.html" %}
{% block maincontent %}
<style>
   .overlay-content {
      position: absolute;
      
    }
</style>
<main role="main" class="container">
    <div class="row">
      <div class="col-md-{% if title == 'Dashboard' %}12{% else %}9{% endif %}">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      {% if title == 'Dashboard' %}
      {% else %}
        <div class="col-md-3">
          <div class="card card-body">
                <div class="d-flex justify-content-between">
                  <h3>{{ sidepanel.title }}</h3>
                  <small><a class="nav-item" style="font-size: small;" href="{% url 'training-dashboard' %}">(Dashboard)</a></small>
                </div>
                
                
                <hr/>
                <p class='text-muted'>{{ sidepanel.text2 }}</p>
                
                 
              </div>
      
          </div>
    
            
        </div>
      {% endif %}
    </div>
  </main>
{% endblock maincontent %}
