{% extends "training/base_sidepanel.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .sticky-column {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
}
</style>

{% if user.is_authenticated %}
<h2>Dashboard</h2>
    

    <table class="table table-hover table-responsive" style="font-size: x-small;">
        <thead>
            <tr>
                <th class="sticky-column">Username</th>
                <th>Roles</th>
                <th>Progress</th>
                {% for certificate in certificates %}
                        <th class="text-center">{{ certificate }}</th>
                {% endfor %}
            
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td class="sticky-column" style="max-width: 60px;">{{ row.username }}</td>
                    <td style="width: 60px;">
                        {% for role in row.roles %}
                            <span class="badge bg-secondary text-white">{{ role }}</span>
                        {% endfor %}

                    </td>
                    <td style="max-width: 40px;">{{ row.percentage }}%</td>
                    {% for cert in row.certifications_status %}
                        <td>
                            {% if cert == '+' %}
                            <div class="d-flex justify-content-center align-items-center">
                                <a class="text-danger">missing</a>
                            </div>
                            {%endif%}
                            {% if cert.id %}
                                <a href="{% url 'training-certification-detail' cert.id %}" class="d-flex justify-content-center align-items-center text-{% if cert.status == 'Completed' %}success{% elif cert.status == 'In Progress' %}warning{% else %}danger{% endif %}">
                                <!-- add an icon -->
                                {% if cert.status == 'Completed' %}
                                    <svg data-toggle="tooltip" data-placement="right" title="Complete" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                                    </svg>
                                {% else %}
                                    <div data-toggle="tooltip" data-placement="right" title="Due: {{ cert.due_date|date:'n/j' }}">
                                        {{ cert.status }}
                                    </div>
                                {% endif %}
                                </a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    



       
    


{% endif %}
    


{% endblock content %}