{% extends "training/base_sidepanel.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .sticky-column {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: rgb(249,249,249);
}
</style>

{% if user.is_authenticated %}
<h2>Dashboard</h2>

    <table class="table table-hover table-responsive" style="font-size: x-small;">
        <thead>
            <tr>
                <th class="sticky-column">Username</th>
                <th>Progress</th>
                {% for certificate in certificates %}
                        <th class="text-center">
                            <a href="{% url 'training-certification-detail' certificate.id %}">
                            {{ certificate }}
                            </a>
                        </th>
                {% endfor %}
            
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td class="sticky-column" style="width: 60px;">
                        {{ row.username }}
                        <div class="d-flex flex-wrap">
                            {% for role in row.roles %}
                                <span style="width: 20px;font-size: 5px;" class="badge bg-secondary text-white">{{ role }}</span>
                            {% endfor %}
                        </div>
                    </td>
                    <td style="max-width: 40px;">{{ row.percentage }}%</td>
                    {% for cert in row.certifications_status %}
                        <td>
                            {% if cert == '+' %}
                            <div class="d-flex justify-content-center align-items-center">
                                <a class="text-secondary">missing</a>
                            </div>
                            {%endif%}
                            {% if cert.id %}
                                <a href="{% url 'training-statusCertification-detail' cert.id %}" class="d-flex justify-content-center align-items-center text-{% if cert.status == 'Completed' or cert.status == 'Scheduled' %}success{% elif cert.status == 'About To Expired' %}warning{% else %}danger{% endif %}">
                                
                                {% if cert.status == 'Completed' %}
                                
                                    {% if cert.expiration_date %}
                                        <p class="text-warning">{{ cert.expiration_date|timeuntil }}</p>
                                        
                                    {% else %}
                                        <p>{{cert.completed_date|date:'n/j/Y'}}</p>
                                    {% endif %}
                                {% else %}
                                    <div data-toggle="tooltip" data-placement="right" title="{% if cert.certification.scheduled_date %}Scheduled: {{ cert.certification.scheduled_date|date:'n/j' }}{% else %}Not Scheduled{% endif %}">
                                        <p>{{ cert.status }}</p>
                                    </div>
                                {% endif %}
                                </a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            
        </tbody>
    </table>


    <div class="m-3">
        <form id="upload-form" method="post" action="{% url 'training-upload_file' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_form|crispy }}
            <button class="btn btn-sm btn-primary" type="submit">Update</button>
            <div id="loading-indicator" style="display: none;">
                <!-- Your loading indicator here (e.g., spinner or progress bar) -->
                <div class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <p>This may take up to five minutes</p>
            </div>
        </form>
    </div>

    <!-- JavaScript to show loading indicator when form is submitted -->
    <script>
        document.getElementById("upload-form").addEventListener("submit", function() {
            document.getElementById("loading-indicator").style.display = "block";
        });
    </script>
    

{% endif %}
    


{% endblock content %}