{% extends "training/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .sticky-column {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: rgb(249,249,249);
}
    .link {
        color: #007bff;
        text-decoration:underline;
        cursor: pointer;
    }

    
</style>

{% if user.is_authenticated %}
<div class="container">
    <h2>Gridd</h2>

    <!-- add a form to select supervisor -->
    <form method="get" action="{% url 'training-dashboard' %}">
        <div class="form-group">
            <label for="supervisor">Supervisor</label>
            <select name="supervisor" id="supervisor" class="form-control">
                <option value="">All</option>
                {% for supervisor in supervisors %}
                    
                    <option value="{{ supervisor.id }}" {% if supervisor.id == selected_supervisor %}selected{% endif %}>{{ supervisor }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    
    <table class="table table-hover table-responsive table-bordered" style="font-size: small;">
        <thead>
            <tr >
                <th class="sticky-column" style="width: 200px;">
                    Username
                    <small id="roles" class="text-primary link">Roles</small>
                </th>
                
                
                {% for training_module in training_modules %}
                        <th class="text-center sticky-cell">
                            <a href="{% url 'training-module-detail' training_module.id %}">
                            {{ training_module }}
                            </a>
                        </th>
                {% endfor %}
            
            </tr>
        </thead>
        <tbody>
            {% for row in data2 %}
                <tr id="{{row.role.id}}" style="display: none;">
                    <td class="sticky-column p-0" style="width: 80px;" >
                        {{ row.role }}
                        
                    </td>
                    {% for module in row.training_modules %}
                        <td class="p-0 text-center">
                            {% if module != '-' %}
                            x
                            {% else %}
                            
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {% for row in data %}
                <tr>
                    <td class="sticky-column" style="width: 80px;">
                        {{ row.username }}
                        <div class="d-flex flex-wrap roles">
                            {% for role in row.roles %}
                                <span style="width: 20px;font-size: 5px;" class="badge bg-secondary text-white">{{ role }}</span>
                            {% endfor %}
                        </div>
                        
                    </td>
                    
                    {% for event in row.training_events %}
                        <td>
                            {% if event != '-' %}
                                
                                {% if event.id %}
                                
                                    {% if event.status == 'Expired' %}
                                    <div data-toggle="tooltip" data-placement="right" title="{% if event.expiration_date %}Expired: {{ event.expiration_date|date:'n/j/Y'}}{% endif %}">
                                        <p class="text-danger">{{ event.status }}</p>
                                    </div>
                                    {% elif event.status == 'About to expire' %}
                                    <div data-toggle="tooltip" data-placement="right" title="{% if event.expiration_date %}Expires in {{ event.expiration_date|timeuntil }}{% endif %}">
                                        <p class="text-warning">{{ event.status }}</p>
                                    </div>
                                    {% elif event.status == 'Ok' %}
                                        <p class="text-success">{{ event.completed_date|date:'n/j/Y' }}</p>
                                    {% elif event.status == 'Incomplete' %}
                                        <p class="text-secondary">Incomplete</p>
                                    {% else %}
                                    {% endif %}
                                {% else %}
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a class="text-secondary">missing</a>
                                    </div>
                                
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            
        </tbody>
    </table>

    

</div>
<script>
    // show the rows with id roles when clicked roles
    document.getElementById('roles').addEventListener('click', function(){
        var roles = document.getElementById('roles');
        var rows = document.querySelectorAll('tr');
        var roleDivs = document.querySelectorAll('.roles');
        
        rows.forEach(row => {
            if (row.id){
                if (row.style.display == 'none'){
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            }
        });
        
        roleDivs.forEach(div => {
            if (div.style.display == 'none'){
                div.style.display = 'block';
            } else {
                div.style.display = 'none';
            }
        });
    });

</script>

{% endif %}
    


{% endblock content %}