{% extends "training/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}

<!-- create two columns -->
<div class="row">
    <div class="col-md-5">
        <div class="mt-5 p-3 card ">
            <h4>Graph</h4>
            <canvas class="p-3" id="myChart"></canvas>
        </div>
        
    </div>
    <div class="col-md-6">
        <div class="mt-5 p-3 card ">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Trainings</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x,y in data1 %}
                    <tr>
                        <td>{{ x }}</td>
                        <td>{{ y }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            
        </div>
        
    </div>
</div>
    


{% endif %}
<!-- dynamic charts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
      type: 'pie',
      data: {
          labels: {{ data2.x }},
          datasets: [{
              label: 'Trainings',
              data: {{ data2.y }},
              borderWidth: 1,
              backgroundColor: ['rgba(54, 162, 235, 0.8)', 'rgba(54, 162, 235, 0.1)', 'rgba(54, 162, 235, 0.3)', 'rgba(54, 100, 235, 0.5)', 'rgba(54, 162, 235, 0.9)']
          }]
      },
      options: {
          plugins: {
              legend: {
                  display: false,
              },
              tooltip: {
                  enabled: true,
              }
          },
          scales: {
              x: {
                  display: false
              },
              y: {
                  display: false
              }
          }
      }
  });
</script>


{% endblock content %}