{% extends "training/base_sidepanel.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'training-home' %}">My Trainings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'training-modules' %}">Modules</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'training-staff_roles' %}">Staff Roles</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'training-roles' %}">Roles</a>
      </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'training-history' %}">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'training-new_entry' %}">New Entry</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'training-dashboard' %}">Grid</a>
    </li>
</ul>
    
    {% if training_events %}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Username</th>   
                    <th>Training</th>
                    <th>Completion Date</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
                {% for event in training_events %}
                    <tr>
                        <td>{{ event.profile.user.username }}</td>
                        <td>{{ event.training_module.name }}</td>
                        <td>{{ event.completed_date }}</td>
                        <td>{{ event.created_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    <!-- if there are no certificates yet -->
    {% else %}
        <p class="m-3">No trainings yet</p>
    {% endif %}

    <!-- add pagination -->
    
    {% if training_events.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ training_events.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in training_events.paginator.page_range %}
        {% if training_events.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > training_events.number|add:'-3' and num < training_events.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if training_events.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ training_events.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ training_events.paginator.num_pages }}">Last</a>
    {% endif %}
    

    


{% endif %}
    


{% endblock content %}