{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <h2>Welcome to the Training Page</h2>
    <p >This is where you can find all the training materials you need to get started with Westridge Labs</p>
    <p >Please feel free to reach out to us if you have any questions or need further assistance</p>
</div>
{% if user.is_authenticated %}
<h2>Your Trainings:</h2>

{% for certificate, form in formswithcert %}
    <form action="{% url 'training-home' %}" method="POST">
        {% csrf_token %}
        <fieldset class="form-group d-flex justify-content-between align-items-end " >
            <!-- show due date days count -->
            <legend class="border-bottom mb-4" style="font-size: 22px;">{{ certificate.certification.name }}
                
                    {% if certificate.is_past_due %}
                        <small class="text-danger"> (Expired)</small>
                    {% else %}
                        <small class="text-success">  ({{ certificate.due_date|timeuntil }})</small>
                    {% endif %}
                
            </legend>
            {{ form|crispy }}
            <div class="form-group align-content-end">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </fieldset>
    </form>
{% endfor %}



{% else %}
<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
{% endif %}
    


{% endblock content %}