{% extends "training/base_sidepanel.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'training-home' %}">My Trainings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'training-all_trainings' %}">All Trainings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'training-staff_roles' %}">Staff Roles</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'training-roles' %}">Roles</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'training-history' %}">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'training-new_entry' %}">New Entry</a>
    </li>
</ul>
    
    {% if training_events %}


        {% for event in training_events %}
        <div id="accordion" class="mb-3 card">
            <div class="card-header" id="headingOne">
                <button  class="btn" data-toggle="collapse" data-target="#collapse{{ event.id }}" aria-expanded="true" aria-controls="collapseOne" style="font-size: 22px;">{{ event.training_module.name }}
                    {% if event.expiration_date %}
                        {% if event.status != 'Ok'%}
                            <span class="badge badge-danger">
                                {{ event.status }}
                            </span>
                            {% else %}
                            <span class="badge badge-warning">
                                {{ event.expiration_date|timeuntil }}
                            </span>
                            {% endif %}
                        {% else %}
                        <span class="badge badge-success">
                            {{ event.completed_date}}
                        </span>
                        {% endif %}
                </button>
            </div>
            <div id="collapse{{ event.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <!-- event information -->
                    <h6>{{ event.training_module.description}}</h6>
                    This event was completed {{event.completed_date}}
                    {% if event.expiration_date %}
                        and expires in {{event.expiration_date|timeuntil}}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    <!-- if there are no events yet -->
    {% else %}
        <p class="m-3">No trainings yet</p>
    {% endif %}

    


{% endif %}
    


{% endblock content %}