{% extends "training/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}

    {% if zip_data %}

    {% for module, index in zip_data %}
    <div id="accordion" class="m-3 card">
        <div class="card-header" id="headingOne">
            <h5>{{ module.name }}</h5>
        </div>
        <div class="card-body">
            <!-- <div class="row"> -->
                {% for row in data %}
                    {% for event in row.training_events %}
                        {% if event.training_module == module %}
                            {% if event.status == 'Expired' %}
                                <div class="row">
                                    <div class="col-md-3">
                                        <p>{{ row.username }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="badge badge-danger">Expired</span>
                                    </div>
                                </div>
                                
                            {% elif event.status == 'About to expire' %}
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <p>{{ row.username }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="badge badge-warning">{{ event.expiration_date|timeuntil }}</span>
                                    </div>
                                </div>
                            {% else %}
                            {% endif %}
                        {% elif event == module.name %}
                        
                            <div class="row">
                                <div class="col-md-3">
                                    <p>{{ row.username }}</p>
                                </div>
                                <div class="col-md-3">
                                    <span class="badge badge-secondary">Missing</span>
                                </div>
                            </div>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            <!-- </div> -->
        </div>
    </div>
    {% endfor %}



    <!-- if there are no training_modules yet -->
    {% else %}
        <p class="m-3">No trainings yet</p>
    {% endif %}




{% endif %}
    


{% endblock content %}