{% extends "training/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
<!-- training_module details -->
<h2>{{ training_module.name }} </h2>
<p>{{ training_module.description }}</p>
<!-- show form -->
<form id="from3" method="post" class="form" action="{% url 'training-module-detail' training_module.id %}">
    {% csrf_token %}
    {{ form|crispy }}
<button  class="btn btn-secondary" type="submit" >Save</button>
</form>
<div id="loading-indicator3" style="display: none;">
    <!-- Your loading indicator here (e.g., spinner or progress bar) -->
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<script>
    document.getElementById("from3").addEventListener("submit", function() {
        document.getElementById("loading-indicator3").style.display = "block";
        document.getElementById("from3").style.display = "none";
    });
</script>


{% endif %}
    


{% endblock content %}