{% extends "training/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}

    {% if zip_data %}

    {% for module, index in zip_data %}
    <div id="accordion" class="m-3 card">
        <div class="card-header" id="headingOne">
            <h5>{{ module.name }}</h5>
        </div>
        <div class="card-body">
                {% for row in data %}
                    {% for event in row.training_events %}
                        {% if event.training_module == module and event.status == 'Expired' %}
                            <p>{{ row.username }} - {{ event.status }}</p>
                        {% elif event == module.name %}
                            <p>{{ row.username }} - missing</p>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
    </div>
    {% endfor %}



    <!-- if there are no training_modules yet -->
    {% else %}
        <p class="m-3">No trainings yet</p>
    {% endif %}




{% endif %}
    


{% endblock content %}