{% extends "training/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
<div class="mt-5 p-3 card ">
    <h4>New Entry</h4>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </form>

</div>
    
<div class="mt-5 p-3 card ">
    <h4>Upload Excel to create multiple entries</h4>
    <form id="upload-form" method="post" action="{% url 'training-upload_file' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ upload_form|crispy }}
        <button id="update" class="btn btn-sm btn-primary" type="submit">Update</button>
        
    </form>
    
</div>
<div id="loading-indicator" style="display: none;">
    <!-- Your loading indicator here (e.g., spinner or progress bar) -->
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<script>
    document.getElementById("upload-form").addEventListener("submit", function() {
        document.getElementById("loading-indicator").style.display = "block";
        document.getElementById("upload-form").style.display = "none";
    });
</script>
    


{% endif %}
    


{% endblock content %}