{% extends "training/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
    
    {% if data %}

    
        {% for row in data %}
        <div class="mb-2 card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-3 d-flex align-items-center ">
                  <div class="d-flex align-items-center justify-content-center" >
                    <div>{{ row.username }}</div>
                  </div>
              </div>
              <div class="col-md-3 d-flex align-items-center justify-content-center">
                <!-- status bar -->
                <div class="progress w-100 d-flex justify-content-between">
                  <div class="progress-bar" role="progressbar" style="width: {{ row.percentage }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ row.percentage }}%</div>
                </div>
              </div>
              <div class="col-md-6">

              </div>
            </div>
        </div>
      </div>
      {% endfor %}
    
    <!-- if there are no events yet -->
    {% else %}
        <p class="m-3">No profiles yet</p>
    {% endif %}

    


{% endif %}
    


{% endblock content %}