{% extends "training/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
    
    {% if roles %}


        {% for role in roles %}
        <div id="accordion" class="mb-3 card">
            <div class="card-header" id="headingOne">
                
                    <h4>{{ role.name }}: {{role.description}}</h4>
                    {% for training_module in role.get_training_modules %}
                        <p style="font-size: small;margin-bottom: -2px;margin-left: 5px;">
                            {{ training_module.name }}: {{ training_module.description }}
                        </p>
                    {% endfor %}
                
            </div>
            
        </div>
        {% endfor %}
    <!-- if there are no profiles yet -->
    {% else %}
        <p class="m-3">No roles yet</p>
    {% endif %}

    


{% endif %}
    


{% endblock content %}