{% extends "training/base_sidepanel.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}

<h2>Schedule {{certification}}</h2>

<form method="post" action="{% url 'training-schedule' certification.id %}">
    {% csrf_token %}
    {{ form|crispy }}
<button type="submit" class="btn btn-primary">Submit</button>
    
<h5 class="mt-2">Send a reminder to:</h5>  
<ul>
    <ul>
        {% for prof in certification.get_incomplete_certification_statuses %}
        <li> {{prof.profile.user.username}}</li>
        {% endfor %}
    </ul>
</ul>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Send
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send Reminder</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to send an email reminder to:
            <ul>
                {% for prof in certification.get_incomplete_certification_statuses %}
                <li> {{prof.profile.user.username}}</li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a id="send-email" href="{% url 'training-send_reminder_email' certification.id %}" type="button" class="btn btn-primary">Send</a>
          <div id="loading-indicator" style="display: none;">
            <!-- Your loading indicator here (e.g., spinner or progress bar) -->
            <div class="spinner-grow" role="status">
                <span class="sr-only">Sending emails...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
<!-- JavaScript to show loading indicator when form is submitted -->
<script>
  document.getElementById("send-email").addEventListener("submit", function() {
      document.getElementById("loading-indicator").style.display = "block";
  });
</script>


{% endif %}
    


{% endblock content %}