{% extends "training/base_sidepanel.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- back to modules -->
<a href="{% url 'training-modules' %}">Back</a>

{% if user.is_authenticated %}

<h2>Schedule {{training_module}}</h2>
<div class="mb-2 card">
  <div class="card-body">
    <form method="post" action="{% url 'training-schedule' training_module.id %}">
      {% csrf_token %}
      {{ form|crispy }}
    <button id="schedule" type="submit" class="btn btn-primary">Submit</button>
    <div id="loading-indicator-schedule" style="display: none;">
      <!-- Your loading indicator here (e.g., spinner or progress bar) -->
      <div class="spinner-grow" role="status">
          <span class="sr-only">Sending emails...</span>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5 class="mt-2 ">Send a reminder to:</h5>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Send
    </button>
    
  </div>
  
  <div class="card-body">
              <ul>
                  {% for prof in training_module.get_incomplete_training_modules_profiles %}
                  
                  <li> 
                      {{prof.user.username}}
                  </li>
                  {% endfor %}
              </ul>
  
</div>

</div>  



  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send Reminder</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to send an email reminder to all users who have not completed this training_module?
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a id="send-email" href="{% url 'training-send_reminder_email' training_module.id %}" type="button" class="btn btn-primary">Send</a>
          <div id="loading-indicator-send-email" style="display: none;">
            <!-- Your loading indicator here (e.g., spinner or progress bar) -->
            <div class="spinner-grow" role="status">
                <span class="sr-only">Sending emails...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
<!-- JavaScript to show loading indicator when form is submitted -->
<script>
  document.getElementById("send-email").addEventListener("click", function() {
      document.getElementById("loading-indicator-send-email").style.display = "block";
      document.getElementById("send-email").style.display = "none";
  });
</script>
<script>
  document.getElementById("schedule").addEventListener("click", function() {
      document.getElementById("loading-indicator-schedule").style.display = "block";
      document.getElementById("schedule").style.display = "none";
  });
</script>


{% endif %}
    


{% endblock content %}