{% extends "training/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
    
    {% if data %}

    
        {% for row in data %}
            
                <div class="mb-3 card">
                    <div class="card-header" id="headingOne">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3>{{ row.username }}<span style="font-size: x-small;">(Supervisor)</span></h3>
                            </div>
                            <div>
                                {{ row.percentage }}%
                            </div>

                        </div>
                        {% for module in row.modules.completed %}
                            <span class="badge badge-success badge-pill">
                                {{ module }}
                            </span>
                        {% endfor %}
                        {% for module in row.modules.missing %}
                            <span class="badge badge-secondary badge-pill">
                                {{ module }}
                            </span>
                        {% endfor %}
                        {% for module in row.modules.expired %}
                            <span class="badge badge-danger badge-pill">
                                {{ module }}
                            </span>
                        {% endfor %}
                    </div>
                    
                </div>
            
        {% endfor %}
    <!-- if there are no supervisors yet -->
    {% else %}
        <p class="m-3">No supervisors yet</p>
    {% endif %}

    


{% endif %}
    


{% endblock content %}