{% extends "training/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
    
    {% if data %}

    
        {% for row in data %}
            {% if row.supervised %}
                <div class="mb-3 card">
                    <div class="card-header" id="headingOne">
                        <h3>{{ row.username }}<span style="font-size: x-small;">(Supervisor)</span></h3>
                        {% for module in row.username.profile.get_supervised_training_modules.completed %}
                            <span class="badge badge-success badge-pill">
                                {{ module }}
                            </span>
                        {% endfor %}
                        {% for module in row.username.profile.get_supervised_training_modules.missing %}
                            <span class="badge badge-secondary badge-pill">
                                {{ module }}
                            </span>
                        {% endfor %}
                        {% for module in row.username.profile.get_supervised_training_modules.expired %}
                            <span class="badge badge-danger badge-pill">
                                {{ module }}
                            </span>
                        {% endfor %}
                    </div>
                
                    <div class="card-body">
                        <!-- user information -->
                        {% for sup in row.supervised %}
                            <p>{{ sup.user.username }}: {{sup.get_training_modules_percentage}}%</p>
                        {% endfor %}
                    </div>
                    
                </div>
            {% endif %}
        {% endfor %}
    <!-- if there are no supervisors yet -->
    {% else %}
        <p class="m-3">No supervisors yet</p>
    {% endif %}

    


{% endif %}
    


{% endblock content %}