{% extends "blog/base.html" %}
{% block maincontent %}

<div class="container">
  
  


  <ul class="nav nav-tabs mb-3">
      <li class="nav-item">
        <a class="nav-link {% if title == 'Dashboard' %}active{% endif %} text-warning" href="{% url 'training-dashboard' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if title == 'Supervisors' %}active{% endif %}" aria-current="page" href="{% url 'training-supervisors' %}">Supervisors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if title == 'Grid' %}active{% endif %}" href="{% url 'training-grid' %}">Grid</a>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if title == 'History' %}active{% endif %}" href="{% url 'training-history' %}">Log</a>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if title == 'New Entry' %}active{% endif %}" href="{% url 'training-new_entry' %}">New Event</a>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if title == 'New User' %}active{% endif %}" href="{% url 'training-new_user' %}">New User</a>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if title == 'Inactive' %}active{% endif %}" style="color: gray;" href="{% url 'training-inactive' %}">Inactive Users</a>
      </li>
      
        
  </ul>

  <div id="loading-indicator" style="display: none;text-align: center;">
    <!-- Your loading indicator here (e.g., spinner or progress bar) -->
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  </div>

  

<div id="content0">
  {% block content %}{% endblock %}
</div>




<script>
    var navItems = document.getElementsByClassName("nav-item");
    for (var i = 0; i < navItems.length; i++) {
      navItems[i].addEventListener("click", function() {
        document.getElementById("loading-indicator").style.display = "block";
        document.getElementById("content0").style.display = "none";
      });
    }

</script>

</div>
{% endblock maincontent %}