{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'training/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/main.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.png">

    {% if title %}
        <title>Westridge Labs - {{title}}</title>
    {% else %}
        <title>Westridge Labs</title>
    {% endif %}
</head>
<body>
  <style>
    /* overwirte bootstrap button */
    .btn {
      font-size: 0.8rem;
      padding: .2rem .9rem;
      font-weight: bold;
    }
  </style>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-warning fixed-top">
        <div class="container">
          <!-- add user picture if logged in -->
            {% if user.is_authenticated %}
          
                <img id="profImage" src="{{user.profile.image.url}}" class="rounded-circle border" style="width: 40px; height: 40px;">
              
            {% endif %}
        <a class="navbar-brand mr-4 ml-2 " href="{% url 'training-dashboard' %}">Testing Environment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              
            <!-- <a class="nav-item nav-link" href="{% url 'training-dashboard' %}">Training</a> -->
            <a class="nav-item nav-link" href="{% url 'privatelabel-dashboard' %}">Private Label</a>
            <!-- workorder link -->
            
            <!-- <a class="nav-item nav-link" href="{% url 'tasks-home' %}">Tasks</a> -->
            
            <!-- <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Forms
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Purchase Request</a>
                <a class="dropdown-item" href="#">Graphic Request</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Customer Complaint</a>
                <a class="dropdown-item" href="#">Return</a>
              </div>
            </div> -->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <!-- <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a> -->
                
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <a href="#" class="nav-item nav-link" onclick="this.parentNode.submit(); return false;">Logout</a>
                  </form>
                
                {% if user.is_superuser %}
                  <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
              {% else %}
                <a class="nav-item nav-link" href="{% url 'get-code' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
        </div>
        </div>
      </nav>
    </header>
    {% block maincontent %}{% endblock %}
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- display text when user hover -->
    <script >
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    
</body>
</html>
