{% extends "privatelabel/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    
    .customer-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        max-width: 400px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
    }
    .customer-name {
        margin-bottom: 12px;
        font-size: 18px;
        color: #333;
    }
    .customer-info {
        margin: 4px 0;
        font-size: 14px;
        color: #555;
    }
    .customer-products {
        margin-top: 16px;
    }
    .customer-products h6 {
        margin-bottom: 8px;
        font-size: 16px;
        color: #444;
    }
    .product-list {
        list-style-type: disc;
        margin: 0;
        padding-left: 20px;
    }
    .product-item {
        font-size: 14px;
        color: #333;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="customer-card">
                <!-- customer form -->
                <form method="post" action="{% url 'privatelabel-new_product' customer.id %}">
                    {% csrf_token %}
                    {{ formc|crispy }}
                    <input type="hidden" id="id_customer" name="customer_id" value="{{ customer.id }}">
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                <div class="customer-products">
                    <h6>Products</h6>
                    {% if customer.products.all %}
                    <ul class="product-list">
                        {% for product in customer.products.all %}
                        <li class="product-item">{{ product.name }}
                            {% if product.components.all %}
                            <ul class="component-list">
                                {% for component in product.components.all %}
                                <li class="component-item">{{ component.sku }}: </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    
                    {% else %}
                    <p>No products yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Create New Product</h5>
            <form method="post" action="{% url 'privatelabel-new_product' customer.id %}">
                {% csrf_token %}
                {{ formp|crispy }}
                <input type="hidden" id="id_customer" name="customer_id" value="{{ customer.id }}">
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>


</div>

<script>
    // get the select value with id="id_customer and give th value {{ customer.id }}
    // this is the customer id
    var customer_id = document.getElementById("id_customer");
    customer_id.value = "{{ customer.id }}";
    

</script>


{% endblock content %}