{% extends "privatelabel/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .flex-container {
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    @media (min-width: 1200px) {
        .container {
            max-width: 1740px;
        }
    }
</style>

<!-- order form -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <h2>Order Details</h2>
            <form method="post" enctype="multipart/form-data" action="{% url 'privatelabel-order-attachments' order.id%}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary float-right" onclick="this.innerHTML='Saving...';">Save</button>
                <div class="row">
                    {% for field in form %}
                        <div class="col-md-4">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
                </div>
                
            </form>
            <!-- delete form -->
            <form method="post" action="{% url 'privatelabel-order-delete' order.id %}" onsubmit="return confirm('Are you sure you want to delete this order?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger float-right">Delete</button>
            </form>
        </div>
    </div>
</div>





{% endblock content %}
