{% extends "tasks/base_sidepanel.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'tasks-home' %}">My Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'tasks-assigned' %}">Assigned</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'tasks-create' %}">New Task</a>
    </li>
</ul>

    

<!-- if there are no tasks yet -->
    {% if tasks %}
        {% for task in tasks %}
        <div id="accordion" class="mb-3 ">
                <article class=" media content-section {% if task.status == 'Completed' %}bg-success-light{% endif %}">
                    
                    <div class="media-body">
                        <div class="d-flex justify-content-between align-items-center ">
                            <div>
                                <small style="font-size: x-small;" class="mr-2 pb-0 pt-0 btn btn-sm btn-outline-{% if task.priority == 'Low' %}success{% elif task.priority == 'Medium' %}warning{%else%}danger{%endif%}">{{ task.priority }}</small>
                                <a class="mr-2" href="#">{{ task.assigned_to }}</a>
                                <small class="text-muted">{{ task.title }}</small>
                                <small class="text-muted">| due {{ task.due_date|date:'n/j' }}</small>
                            </div>
                            <!-- update task -->
                            <div>
                                <a class="no-underline" href="{% url 'tasks-update' task.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.081-.286.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-3.763a.25.25 0 0 0-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 0 0 0-.354Z"></path></svg>
                                </a>
                                <a class="no-underline" href="#">
                                    <svg data-toggle="modal" data-target="#exampleModal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.75 1.75 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"></path></svg>
                                </a>
                                
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form action="{% url 'tasks-delete' task.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </article>
            
        </div>
        {% endfor %}
        

    {% else %}
        <p class="m-3">No tasks yet</p>
    {% endif %}

{% endif %}



{% endblock content %}

  