{% extends "blog/base.html" %}
{% block maincontent %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-9">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-3">
            
        <div class="card card-body">
              <div class="d-flex justify-content-between">
                <h3>{{ sidepanel.title }}</h3>
              </div>
              <p class='text-muted'>{{ sidepanel.text1 }}</p>
              <div class="d-flex  ">
                <div style="width: 100px;">
                  <canvas id="myChart"></canvas>
                </div>
              </div>
              <hr/>
              <p class='text-muted'>{{ sidepanel.text2 }}</p>
              <div class="d-flex flex-column justify-content-center align-content-center ">
                
                <ul class="list-group">
                  {% for task in tasks %}
                  {% if task.status == 'Completed' %}
                  {% else %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ task.title }}
                    <span class="badge badge-primary badge-pill">{{ task.due_date|timesince }}</span>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
               
                  
            </div>
    
        </div>
    
            
    </div>
      
    </div>
  </main>

<!-- dynamic charts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
      type: 'pie',  // Change 'pie'
      data: {
          labels: ['Not Started', 'In Progress', 'Completed'],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3],
              borderWidth: 1,
              backgroundColor: ['green', 'red', 'yellow'] // Set the colors here
          }]
      },
      options: {
          plugins: {
              legend: {
                  display: false,  // Hide legend
              },
              tooltip: {
                  enabled: true,  // Enable tooltips
              }
          },
          scales: {
              x: {
                  display: false  // Hide x-axis
              },
              y: {
                  display: false  // Hide y-axis
              }
          }
      }
  });
</script>
{% endblock maincontent %}

